<!DOCTYPE html>
<html lang="en">
<head th:replace="fragments/headerFrag :: head">
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <nav th:replace="fragments/navFrag :: nav"></nav>

    <h1>This page should display the unique products information. Also direct to all other product information pages.</h1>

    <!-- ------------------Thymleaf start here th:each="product : ${products}" -------------------------- -->
    <!-- ------------------ th:text="${products.productName}" -------------------------- -->
    <!-- ------------------ th:text="${products.productPrice}" -------------------------- -->
    <!-- ------------------ th:text="${products.productStockNumber}" -------------------------- -->
    <!-- ------------------ th:Image="${products.productImage}" -------------------------- -->
    <!-- ------------------ th:text="${product.productType}" -------------------------- -->


    <footer th:replace="fragments/footerFrag :: footer"></footer>

</body>
</html>